div.disclaimer
  div.alert.col-sm-12
    p 
      span.alert__icon
      | The Anti-Epileptic Drug Search tool uses data obtained from OpenFDA. OpenFDA is a beta research project and not for clinical use.

div(ng-include='"components/navbar/navbar.html"')

div.jumbotron
  div.rows
    .col-sm-8.col-sm-offset-2
      h1.search__title About 

.container
  .row
    .col-sm-8.col-sm-offset-2
      h2 Anti-Epileptic Drug Search Tool
      p One in 26 people will develop epilepsy in their lifetime. It can start at any time, sometimes with relatively obvious trauma like a head injury but often with no apparent cause.
      p Only one in three people suffering from epilepsy are able to control their seizures with medication. The quest to get better control of seizures is lifelong, and often consists of a sometimes overwhelming, often confusing cocktail of anti-epileptic drugs that can be difficult to stay on top of.
      p Understanding the risks and possible adverse effects of potential anti-epileptic agents can be key to actively partnering with medical professionals in getting a handle on managing epilepsy.
      p In building this tool, our hope is to empower individuals and caregivers, helping them better understand and navigate anti-epileptic drugs to more successfully manage  epilepsy. We wanted to create a tool that makes searching drugs and reported adverse effects easy. Our vision for the future includes the ability to refine results by gender, age and more.
 
      h2 Flexion
      p Flexion (<a href="http://flexion.us">flexion.us</a>) is an enterprise IT advising, staffing and digital solutions company serving up lean and agile solutions. We help organizations get ahead and stay ahead by implementing smart business strategies, new cloud-based technologies and smart user-focused  strategies that are affordable, measurable and successful.
      h2 More About Epilepsy
      ul
        li <a href="https://www.aesnet.org/">https://www.aesnet.org/</a>
        li <a href="http://www.cureepilepsy.org/">http://www.cureepilepsy.org/</a>
        li <a href="http://www.epilepsy.com/">http://www.epilepsy.com/</a>
        li <a href="http://www.lilysfund.org/">http://www.lilysfund.org/</a>

div(ng-include='"components/footer/footer.html"')

