div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Flexion GSA 18F Agile Delivery Services Prototype Response
    p.lead Search Adverse Reactions for Epilepsy Medications
    img(src='assets/images/flexion.png', alt='Flexion')

.container
  .row
    .col-lg-12
      h1.page-header Sample Search Result for https://api.fda.gov/drug/event.json?search=patient.drug.openfda.pharm_class_epc:"nonsteroidal+anti-inflammatory+drug"&count=patient.reaction.reactionmeddrapt.exact
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='reaction in adverseReactions')
        li
          a(href='#', tooltip='{{reaction.term}}')
            | term: {{reaction.term}} count: {{reaction.count}}

footer.footer
  .container
    p
      | Flexion
      = ' | '
      a(href='http://flexion.us/') flexion.us
