div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Flexion GSA 18F Agile Delivery Services Prototype Response
    p.lead Search Adverse Reactions for Epilepsy Medications
    img(src='assets/images/flexion.png', alt='Flexion')

.container
  .row
    .col-lg-12
      h1.page-header Search for Adverse Reactions By Pharmaceutical Brand
      form(no-validate).search-form
        | Brand Name:&nbsp;
        input(type='text', sf-typeahead datasets='pharmaNames' options='pharmaOptions' ng-model='brandname')
        p
        input(type='button', ng-click='reset()', value='Reset')
        input(type='submit', ng-click='search(brandname)', value='Search')

      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='reaction in adverseReactions')
        li
          a(href='#', tooltip='{{reaction.time}}')
            | time: {{reaction.time}} count: {{reaction.count}}

footer.footer
  .container
    p
      | Flexion
      = ' | '
      a(href='http://flexion.us/') flexion.us
