div(ng-include='"components/navbar/navbar.html"')

div.jumbotron
  div.container.search__group
    h1.search__title Drug Database Search
    form.search.input-group.input-group-lg(name='search__form',method='POST',action='/')
      input#search.search__field.form-control(type='search', name='search')
      span.input-group-btn
        button.search__button.btn.btn-default(type='button')
          span.sr-only Search Database
          span.glyphicon.glyphicon-search(aria-hidden='true')
.container
  .row
    .col-lg-12
      h1.page-header Search for Adverse Reactions By Pharmaceutical Brand
      form(no-validate).search-form
        | Brand Name:&nbsp;
        input(type='text', sf-typeahead datasets='pharmaNames' options='pharmaOptions' ng-model='brandname')
        p
        input(type='button', ng-click='reset()', value='Reset')
        input(type='submit', ng-click='search(brandname);startSpin()', value='Search')


      p
        span(us-spinner='', spinner-key='spinner-1')

      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='reaction in adverseReactions')
        li
          a(href='#', tooltip='{{reaction.time}}')
            | time: {{reaction.time}} count: {{reaction.count}}
      p(ng-show=(errorMessage != null))
        | {{ errorMessage }}


footer.footer
  .container
    p
      | Flexion
      = ' | '
      a(href='http://flexion.us/') flexion.us
