div(ng-include='"components/navbar/navbar.html"')

div.jumbotron
  div.container.search__group
    h1.search__title Drug Database Search
    form.search-form.input-group.input-group-lg(no-validate)
      label.sr-only(for='search') Search
      input#search.search__field.form-control(type='text', ng-model='brandname')
      span.input-group-btn
        button.search__button.btn.btn-default(type='button',
        ng-click='search(brandname)')
          span.sr-only Search Database
          span.glyphicon.glyphicon-search(aria-hidden='true')
.container
  .row
    .col-lg-12
      div(ng-include='"components/chart/chart.html"')
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='reaction in adverseReactions')
        li
          a(href='#', tooltip='{{reaction.time}}')
            | time: {{reaction.time}} count: {{reaction.count}}

footer.footer
  .container
    p
      | Flexion
      = ' | '
      a(href='http://flexion.us/') flexion.us
