div.disclaimer
  div.alert.col-sm-12
    p 
      span.alert__icon
      | The Anti-Epileptic Drug Search tool uses data obtained from OpenFDA. OpenFDA is a beta research project and not for clinical use.

div(ng-include='"components/navbar/navbar.html"')

div.jumbotron
  div.rows
    .col-sm-8.col-sm-offset-2
      h1.search__title Terms of Use and Privacy Statement

.container
  .row
    .col-sm-8.col-sm-offset-2
      h2 Terms of Use
 
      p When you use the Epilepsy Drug Search website (located at <a href="http://pool3.18f.flexion.us/">http://pool3.18f.flexion.us/</a>, and collectively referred to herein as the "Website"), you agree to be bound by the Terms of Use stated below. These Terms explain your legal obligations when using this Website. If you do not agree to these Terms of Use, please do not use this Website. For the purposes of these Terms of Use, Flexion Inc. shall be collectively referred to as "Flexion".

      p These Terms of Use also incorporate the terms of the Flexion's <a href="#privacy">Privacy Statement</a>.
 
      h3 Medical Disclaimer
 
      p Information contained on this Website is not a substitute for a doctor's medical judgment or advice. Flexion recommends that you  discuss your specific, individual health concerns with your doctor or health care professional. The materials presented here describe current drugs or treatments that may be under study, and are for informational purposes only. Treatment options should be determined by an individual and his or her treating doctor based on the individual's overall health, age, disease and disease stage.
 
      h3 Rules of Conduct

      p While using the Website, you agree to comply with all applicable laws, rules and regulations. In addition, Flexion expects the users of the Website to respect the rights and dignity of others. Therefore, when using this Website, you agree not to:
 
      ul
        li Post or submit information about another person or company without the authorization to do so.
        li Interfere with any other user’s right to privacy by trying to access or collect information about any individual users of this Website.
        li Interfere with the functioning of the Website or with other people’s use of the Website in any way, including:
          p Posting or transmitting any file or computer code or program (for example, viruses, worms, Trojan horses) that could damage or interfere with the operation of any hardware, software or telecommunications equipment.
          p Interfering with the functioning of the website, its servers or networks.
          p Hacking, defacing or modifying any portion of the website.
          li Sell or use for commercial purposes any portion of this Website unless you have prior written permission from Flexion. This includes framing or mirroring any part of the Website, systematically downloading and storing any content, putting the content in a database or republishing it. The application code itself is <a href="https://github.com/flexion/flexion-ads-18f-response/">freely available for download in GitHub</a> and released to the public domain, so that others may freely build upon, enhance and reuse the works for any purposes without restriction under copyright or database law under a <a href="https://creativecommons.org/about/cc0">CC0 License</a>.

  
      h2 <a name="privacy">Privacy Statement</a>
  
      p The Anti-Epileptic Drug Search tool produced by Flexion Inc. (referred to for the purposes of this Online Privacy Statement as "Flexion" or "we") are committed to respecting your privacy. The  website (<a href="http://pool3.18f.flexion.us/">http://pool3.18f.flexion.us/</a>, referred to here as the "website") has been structured so you can visit it without identifying yourself or revealing any personal information. If you choose to provide Flexion with personally identifiable information (any information by which you can be identified), you can be assured it will be used only to support your relationship with Flexion.
  
      p This statement regarding the privacy of the information you provide online covers seven main areas:
  
      h3 Awareness
  
      h4 Web Statistics
  
      p As you browse through this website, Flexion collects some non-personally identifiable data, such as:
  
      ul
        li The type of browser used to access the site
        li The date and time of your visit
        li The pages you visited
        li The search terms you queried
        li The address of the website that referred you if you clicked a link to get to this site

  
      p Flexion collects this information for statistical purposes and for evaluating this website to make it more useful to visitors.
  
      h4 Cookies
  
      p We use persistent cookies. A cookie is a small text file that contains no personally identifying information and that is placed into the memory of your browser. If the lifetime of the cookie extends beyond the time you spend at the site, the file is saved for future reference and is a “persistent cookie.”
  
      p Persistent cookies allow us to include capabilities that provide a better user experience, make the website easier to navigate, and allow us to gather accurate information about the site so we can determine:
  
      p How many visitors arrive
      p How many are new versus repeat visitors
      p How often a visitor has visited

  
      p Most browsers are initially set up to accept cookies, but if you prefer, you can usually set your browser to refuse cookies or to notify you when you receive a new cookie. You can also opt out of receiving cookies used for Google advertising by visiting the Google advertising opt-out page.
  
      h4 Personal Information
  
      p This website does not collect personally identifiable information unless you voluntarily submit it via email.
  
      h3 How We Use It
  
      p When you choose to submit personally identifiable information (PII) to Flexion via email, we use your name and contact information for the sole purpose of completing your request. 
  
      h3 Who We Share It With
  
      p Flexion will not sell, rent or lease your personally identifiable information to others.
  
      p Unless we have your permission or are required by law, any personal data you provide us online will be shared only with Flexion employees  and/or business partners who are acting on our behalf to complete the activities described above. Flexion employeesn and/or business partners, including those located in other countries, are required by agreement to protect the privacy of your personally identifiable information as set out in this Privacy Statement.
  
      h3 Choice
  
      p Flexion will not use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without letting you know beforehand and offering you the opportunity to withhold your consent for Flexion to use your information in this way.
  
      p If you have comments or questions about our Terms of Use or Privacy Statement, please send them to this e-mail address: <a href="mailto:accounts+tou@flexion.us">accounts+tou@flexion.us</a>.		
  
div(ng-include='"components/footer/footer.html"')

