<div class="container">
  <aside class="col-md-3">
   <div class="panel panel-default">
    <h2 class="panel-heading">Lorem Ipsum</h2>
    <div class="panel-body">
      <h3>Categories</h3>
      <ul>
        <li>category</li>
        <li>category</li>
        <li>category</li>
        <li>category</li>
        <li>category</li>
      </ul>
      <h3>Side Effects</h3>
      <ul>
        <li>effect</li>
        <li>effect</li>
        <li>effect</li>
        <li>effect</li>
        <li>effect</li>
      </ul>
      <h3>Alternate Names</h3>
      <ul>
        <li>name</li>
        <li>name</li>
        <li>name</li>
        <li>name</li>
        <li>name</li>
      </ul>
    </div>
  </aside>
  <div class="col-md-9">
   <div class="panel panel-default">
    <h2 class="panel-heading">Lorem Ipsum</h2>
    <div class="panel-body histogram__chart">
      <svg class="chart"></svg>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <h2 class="panel-heading">lorem Ipsum</h2>
            <div class="panel-body histogram-chart">
      <svg class="chart2"></svg>
            
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <h2 class="panel-heading">Lorem Ipsum</h2>
            <div class="panel-body histogram-chart">
      <svg class="chart3"></svg>
            
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <h2 class="panel-heading">Lorem Ipsum</h2>
            <div class="panel-body histogram-chart">
            
      <svg class="chart4"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
