<div class="jumbotron">
  <div class="container col-md-8 col-md-offset-2">
    <h1 class="search__title">Drug Database Search</h1>
    <label class="search__label sr-only" for="search">Search</label>
    <div class="search input-group input-group-lg">
      <input class="search__field form-control" type="search" name="search" id="search">
      <span class="input-group-btn">
        <button class="search__button btn btn-default" type="button">
          <span class="sr-only">Search Drugs</span>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
</div>


